<div class="row py-2">
  <div class="col-12">
    <a class="btn btn-primary" routerLink="/students">Back List students</a>
  </div>

  <div class="col-12">
    <table class="table table-bordered my-2">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <th scope="row">{{student.id}}</th>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
      </tr>
      </tbody>
    </table>
    <form (ngSubmit)="updateName()">
      <input type="hidden" id="id" name="id">
      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="student.name" type="text" class="form-control" id="name" name="name" placeholder="Enter name">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <form (ngSubmit)="updateAge()">
      <div class="form-group">
        <label>Age</label>
        <input [(ngModel)]="student.age" type="number" class="form-control" id="age" name="age" placeholder="Enter age">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
